<div>
    <a>
    <img src= "/images/icon-small.png" width="40" height="40" alt="IONI"> 
    Author: {{page.author}}
    </a>
    <p class="card-text"><small class="text-muted">{{page.subline}}</small></p>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2"></div>
            <div class="col-6 align-self-center">
                <figure class="figure">
                    <img src="{{site.url}}{{page.pictureDir}}{{page.picture1}}" class="figure-img img-fluid rounded" alt="{{item.figureCaption}} ">
                    <figcaption class="figure-caption text-center">Image: {{page.figureCaption1}}</figcaption>
                </figure>
            </div>
            <div class="col col-lg-2"></div>     
        </div>
    </div>
</div>