<!doctype html>
<html lang="en">
    <!-- header Head  -->
      {% include headerHead.html %}
    <!--end header Head-->
    <!-- main Navigation  -->
      {% include mainNavigation.html %}
    <!--end main Navigation -->
  <body>
    <div class="container">
    <!-- MAIN CONTENT -->
      <!--temp padding-->
      {% include aftermenupadding.html %}
      <!--end temp padding-->
      <!-- main Post Titles -->
      {% include postTitles.html %}
      <!--end main Post Titles -->
      <!-- main Image Summary includes title  -->
      {% include imagePresent.html %}
      <!--end main Navigation -->
      <section >
        {{ content }}
      </section>
    </div>
  </body>

  <!-- FOOTER  -->
    {% include footer.html param="test footer" %}
  <!--End Footer -->
</html>
